* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.elem {
    width: 420px;
    height: 75px;

    text-decoration: none;
    display: block;

    background-color: #f5f5f5;
    padding-left: 10px;

    border-radius: 2px;
    border: 1px solid lightgray;

    background-size: cover;
}

.title {
    font-size: large;
    color: black;

    display: inline-block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    unicode-bidi: embed;
    width: 375px;

    padding: 0px 5px;

    border-bottom: 2px solid lightgrey;
    text-shadow: 0px 0px 5px white;
}

.favicon {
    margin: 5px;
    width: 16px;
    height: 16px;
}

.height {
    line-height: 22px;
}

.url {
    font-size: small;
    color: darkgrey;
    text-align: right;
    display: block;
    padding-right: 5px;
}

/* one column */
@media (max-width: 910px) {
    .elem {
        margin: 4px auto;
    }
}

/* two columns */
    
@media (min-width: 910px) {
    body {
        margin-top: 25px;
    }
    
    #list {
        margin: 0px auto;
        max-width: 940px;
    }

    .elem {
        float:left;
        margin: 4px;
    }
}